<header class="site-header" role="banner">
  <div class="site-header__wrap">
    <a class="site-header__brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <nav class="site-header__nav" aria-label="Primary">
      <a class="site-header__link{% if page.url == '/home.html' %} is-active{% endif %}" href="{{ '/home.html' | relative_url }}">Home</a>
      <a class="site-header__link{% if page.url == '/know-more.html' %} is-active{% endif %}" href="{{ '/know-more.html' | relative_url }}">Why Us?</a>
      <a class="site-header__link{% if page.url == '/how-it-works.html' %} is-active{% endif %}" href="{{ '/how-it-works.html' | relative_url }}">How It Works</a>
      <a class="site-header__link{% if page.url == '/contact.html' %} is-active{% endif %}" href="{{ '/contact.html' | relative_url }}">Contact</a>
    </nav>
  </div>
</header>
